#root {
  max-width: 100vw;
  max-height: 100vh;
  overflow-y: auto;
  margin: auto;
  padding: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
